# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.pytest_cache/

# Flutter
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/build/
mobile/.packages

# Env
.env
*.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Docker
*.log
